<div class="page-content">
  <h1 class="text-center pt-4">Alpha Bloggers</h1>
  <div class="container">
    <p id="notice" class="text-center text-success fw-bold"><%= notice %></p>
    <% @users.each do |user| %>
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
              <strong><%= link_to user.username, user ,class: "rails-link text-success text-uppercase"%></strong>
            </div>
            <div class="card-body">
              <p class="card-text"><%= pluralize(user.blogs.count, "article") %></p>
              <%= link_to "View profile", user, class: "btn btn-outline-primary" %>
              <% if logged_in? && (user == current_user || current_user.admin?) %>
                <%= link_to "Edit Profile", edit_user_path(user), class: "btn btn-outline-success" %>
                <%= link_to "Delete Profile", user_path(user), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
            </div>
            <div class="card-footer text-muted">
              <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
